<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need)</span></div>

# What to expect in this chapter

# 1 The for iterator

## 1.1 for with a list

In [7]:
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]
for name in real_names:
    print(f"{name} is a Marvel superhero!")

Natasha Romanoff is a Marvel superhero!
Tony Stark is a Marvel superhero!
Stephen Strange is a Marvel superhero!

In [37]:
for name in real_names + ['Peter Parker']:
    print(name)

Natasha Romanoff
Tony Stark
Stephen Strange
Peter Parker

In [10]:
for name in real_names:
    print('--'*10)
    print(1,name)
    # print('--', 10)

--------------------
1 Natasha Romanoff
--------------------
1 Tony Stark
--------------------
1 Stephen Strange

In [11]:
count = 0
for name in real_names: 
    count += 1
    print(count,name)

1 Natasha Romanoff
2 Tony Stark
3 Stephen Strange

In [ ]:
for name in real_names:
    count = 0
    count += 1
    print(count,name)           #This method doesn't work as it constantly resets to count = 0. 
                                # The location of the code matters

1 Natasha Romanoff
1 Tony Stark
1 Stephen Strange

In [56]:
count = 0
for name in real_names:
    
    count += 1
    print(count,name)

1 Natasha Romanoff
2 Tony Stark
3 Stephen Strange

In [20]:
real_names[0].split()

['Natasha', 'Romanoff']

In [ ]:
for count, name in enumerate(real_names, start=1):
    first_name, last_name = name.split()                #splits the name into two and sets the variables accordingly
    print(count,first_name)
    print(count, last_name)
    print(count,last_name.upper())

1 Natasha
1 Romanoff
1 ROMANOFF
2 Tony
2 Stark
2 STARK
3 Stephen
3 Strange
3 STRANGE

In [29]:
all_names = '' 
for count, name in enumerate(real_names, start=1):
    first_name, last_name = name.split()
    all_names += f'{count}. {last_name} **{last_name.upper()}**\n' #Add spaces between code to add spaces when printed

print(all_names)

1. Romanoff **ROMANOFF**
2. Stark **STARK**
3. Strange **STRANGE**

1. Romanoff **ROMANOFF**
1. Stark **STARK**
1. Strange **STRANGE**

In [ ]:
for count, name in enumerate(real_names, start=10000):
    print(count, name)

10000 Natasha Romanoff
10001 Tony Stark
10002 Stephen Strange

In [33]:
for i in [0,1,2]:
    print(i+1, real_names[i])   #Another way to count/index

1 Natasha Romanoff
2 Tony Stark
3 Stephen Strange

In [35]:
range(3)

range(0, 3)

In [36]:
list(range(5))

[0, 1, 2, 3, 4]

In [34]:
for i in range(3): 
    print(i+1, real_names[i])

1 Natasha Romanoff
2 Tony Stark
3 Stephen Strange

In [38]:
len(real_names)

3

In [39]:
real_names = ["Natasha Romanoff", 'Tony Stark', 'Stephen Strange'] + ['Peter Parker', 'Johnny Storm']

In [41]:
for i in range(len(real_names)):                #len(real_names) is useful if data is being added,so no need to change range code
    print(i+1, real_names[i])

1 Natasha Romanoff
2 Tony Stark
3 Stephen Strange
4 Peter Parker
5 Johnny Storm

## 1.2 for with enumerate

In [43]:
super_names = ["Black Widow", "Iron Man", "Doctor Strange"]
real_names = ["Natasha Romanoff", "Tony Stark", "Stephen Strange"]

In [44]:
for i in range(len(real_names)):
    print(i+1,f'{super_names[i]} is {real_names[i]}')

1 Black Widow is Natasha Romanoff
2 Iron Man is Tony Stark
3 Doctor Strange is Stephen Strange

In [46]:
for real_name, super_name in zip(real_names,super_names):       #zips the two names together
    print(real_name,super_name)

Natasha Romanoff Black Widow
Tony Stark Iron Man
Stephen Strange Doctor Strange

In [ ]:
for count, name in enumerate(real_names):
    print(f'{count}: {name} is a Marvel superhero!')

0: Natasha Romanoff is a Marvel superhero!
1: Tony Stark is a Marvel superhero!
2: Stephen Strange is a Marvel superhero!

In [20]:
for index, name in enumerate(real_names):
    superhero_name = super_names[index]
    print(f'{name} is {superhero_name}!')

Natasha Romanoff is Black Widow!
Tony Stark is Iron Man!
Stephen Strange is Doctor Strange!

In [21]:
for count, name in enumerate(real_names, 100):
    print(f'{count}: {name} is a Marvel superhero!')

100: Natasha Romanoff is a Marvel superhero!
101: Tony Stark is a Marvel superhero!
102: Stephen Strange is a Marvel superhero!

## 1.3 for with range

In [48]:
for i in range(5):          #prints 0 to 4
    print(i)

0
1
2
3
4

In [ ]:
for i in range(5,10): #doesn't include the 2nd number
    print(i)

5
6
7
8
9

In [54]:
for i in range(2,10 , 2):
    print(i)

2
4
6
8

# 2 while

In [55]:
i = 0
while i<10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [57]:
import numpy as np

In [66]:
x=1
while x>1E-5:
    print(f'{x*180/np.pi=:.10f}', f'{np.sin(x)=:.8f}', f'{np.tan(x):.8f}', np.isclose(np.sin(x),np.tan(x)))
    x/=2

x*180/np.pi=57.2957795131 np.sin(x)=0.84147098 1.55740772 False
x*180/np.pi=28.6478897565 np.sin(x)=0.47942554 0.54630249 False
x*180/np.pi=14.3239448783 np.sin(x)=0.24740396 0.25534192 False
x*180/np.pi=7.1619724391 np.sin(x)=0.12467473 0.12565514 False
x*180/np.pi=3.5809862196 np.sin(x)=0.06245932 0.06258151 False
x*180/np.pi=1.7904931098 np.sin(x)=0.03124491 0.03126018 False
x*180/np.pi=0.8952465549 np.sin(x)=0.01562436 0.01562627 False
x*180/np.pi=0.4476232774 np.sin(x)=0.00781242 0.00781266 False
x*180/np.pi=0.2238116387 np.sin(x)=0.00390624 0.00390627 True
x*180/np.pi=0.1119058194 np.sin(x)=0.00195312 0.00195313 True
x*180/np.pi=0.0559529097 np.sin(x)=0.00097656 0.00097656 True
x*180/np.pi=0.0279764548 np.sin(x)=0.00048828 0.00048828 True
x*180/np.pi=0.0139882274 np.sin(x)=0.00024414 0.00024414 True
x*180/np.pi=0.0069941137 np.sin(x)=0.00012207 0.00012207 True
x*180/np.pi=0.0034970569 np.sin(x)=0.00006104 0.00006104 True
x*180/np.pi=0.0017485284 np.sin(x)=0.00003052 0.00003052 True
x*180/np.pi=0.0008742642 np.sin(x)=0.00001526 0.00001526 True